{% for name, data in interfaces.items() %}
interface {{ name }}
  {% if data.description %}  description {{ data.description }}{% endif +%}
  {% if data.vlans and data.vlans is iterable %}
  swithport trunk allowed vlan {{ data.vlans | join(",") }}
  {% elif data.vlans and data.vlans is number %}
  swithport trunk allowed vlan {{ data.vlans }}
  {% endif %}
!
{% endfor %}
